adbutils==2.8.11
dataset==1.6.2
Faker==37.0.0
fastapi==0.115.11
inflection==0.5.1
lxml==5.3.0
numpy==1.26.4
# 适配雷电模拟器，降低opencv版本
opencv_contrib_python==4.5.5.64
opencv_python==4.5.5.64
opencv_python_headless==4.5.5.64
pandas==2.3.0
Pillow==11.3.0
pydantic==2.11.7
reportlab==4.4.1
rich==14.0.0
starlette==0.46.0
uiautomator2==3.2.10
uiautomator2cache==0.3.1
uvicorn==0.34.0
onnxruntime==1.18.1
ppocr-onnx==0.0.3.9
pponnxcr==2.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
setuptools==68.2.2
cached-property==2.0.1
websockets==14.2